.table-container {
    max-width: 800px;
    width: 100%;
    padding: 20px;
}

.table-container h1 {
    margin-bottom: 10px;
}

.table-container button {
    margin-right: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid var(--border-color);
    padding: 10px;
    text-align: left;
}

th {
    background-color: var(--secondary-color);
    color: #fff;
    font-weight: 600;
}

tbody tr:nth-child(even) {
    background-color: var(--form-bg-color);
}
