button.btn-new {
    background-color: #28a745;
    color: #fff;
    margin-right: 10px;
}

button.btn-delete {
    background-color: #dc3545;
    color: #fff;
    margin-right: 10px;
}

.logout {
    color: var(--primary-color);
    cursor: pointer;
    margin-right: 10px;
    font-size: 12px;
}

