.catalogs {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
}

.btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

button.btn-new {
    background-color: #28a745;
    color: #fff;
    margin-right: 10px;
}

button.btn-delete {
    background-color: #dc3545;
    color: #fff;
    margin-right: 10px;
}

.logout {
    color: var(--primary-color);
    cursor: pointer;
    margin-right: 10px;
    font-size: 12px;
}

