@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --border-color: #ced4da;
    --form-bg-color: #f8f9fa;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn-disabled {
    background: #6c757d;
}

.btn-disabled:hover {
    background: #6c757d;
}
