.label-is-primary {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-weight: normal;
}

.label-is-disabled {
    color: darkgrey;
}

input[type="checkbox"] {
    margin-right: 10px;
}

input[type="checkbox"]:focus {
    outline: none;
}

input[type="checkbox"] + span {
    font-size: 16px;
    color: #212529;
}

input[type="checkbox"] + span:hover {
    cursor: pointer;
}

input[type="checkbox"] + span:before {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    background-color: white;
    margin-right: 5px;
    vertical-align: middle;
    transition: border-color 0.15s ease-in-out;
}

input[type="checkbox"]:checked + span:before {
    content: "\2713";
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: white;
    text-align: center;
    line-height: 1.1;
    font-size: 14px;
}
